<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d30e42a1f2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/home.css">
       
    <title>Todo List</title>
       
  </head>
<body>
   
    <div class="container">
        <h1>TODO APP</h1>
        <hr>
        <!-- form for adding new task -->
        <form action="/add"  name= "task_Add" id="task_Add" method="post" >
        <div class="description">
            <label for="description">
                DESCRIPTION
            </label>
            <br>
            <input type ='text' name="description" id="description" placeholder="what do you need to do?" required>
            <hr>
        </div>

        <div class="details">
            <div class="category">
                <label for="category">CATEGORY</label>
                        <br>
                <select name="category" id="category"  required>
                    <option>Choose a category</option>
                <option value="personal">Personal</option>
                <option value="work">Work</option>
                <option value="school">School</option>
                <option value="cleaning">Cleaning</option>
                <option value="other">Other</option>
                </select>
            
            </div>
                <div class="verticalrule"></div>
            
            <div class="date">
                <label for="date">DUE DATE</label>
                <br>
                <input type="date" name="date" id="date"  min ="2023-06-01" required>
                
            </div>

        </div>
        <hr>
            <div class="actions">
                <div class="addtask">
                <button type="submit">ADD TASK</button></div>
                   
                
            </div>
        </form>

            <div class="taskcontainer">
                    <h2>TASK LIST</h2>
                     <!-- tasklist with checkbox -->
                    <form action="/delete" method="post">
                    <%tasks.forEach(function(task){%>
                <div class="task">
                    <div class="checkbox">
                        <input type="checkbox" name="delete"  value= <%=task.title%> >
                    </div>
                    <div class="taskDescription"> 
                        <div class="taskdetail"><%=task.title%></div>
                        <div class="taskDueDate"> <i class="fa-solid fa-calendar"></i><span> <%=task.duedate%></span></div>
                </div>
                <div class="categoryDisplay" >
                    <div class=<%=task.category %>>
                        
                        <%=task.category%>
                    </div>
                </div>
            </div>
            <%})%>
                    <!-- conditional redendering delete button -->
            <% if(tasks.length>0) {%>

            <button type="submit"  >Delete</button>
            
            
            <%}else {%>
                <p style="text-align: center;">It is good to keep adding your tasks </p>
                <%}%>

        </form>

                    
            </div>
    </div>
    <script src="/home.js" >
     
</script>

</body>

</html>